.sidebar-btn {
  padding: 0 !important;
  width: 100% !important;
  border-radius: 0 10px 10px 0 !important;
}

.navlink {
  width: 100%;
  padding: 10px 0 10px 28px;
  border-radius: 0 10px 10px 0;
  text-align: left;
}

.navlink__active {
  background-color: #f1f1f1;
}
